@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue Regular', sans-serif;
}

.wrapper {
    width: 1215px;
    height: auto;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    background: url(../img/background-menu.png) repeat;
    height: 36px;
    align-items: center;
}

.menu a {
    display: inline-block;
    color: #75beff;
    text-decoration: none;
    vertical-align: middle;
    line-height: 36px;
}

.menu span {
    display: inline-block;
    vertical-align: middle;
    color: #fefefe;
    height: 30px;
}

.right_block a {
    display: inline-block;
    text-decoration: underline;
    color: #fefefe;
    height: 34px;
    width: auto;
}

.menu li {
    padding: 0 10px;
    width: auto;
    font-size: 12px;
 }

.menu li:hover {
    background-color: #4eabda;
 }

.menu a:hover {
    color: #fff;
}

.right_block {
    margin-right: 20px;
    background: linear-gradient(#00B6D9, #007DC2);
    border: 1px solid #4299d2;
    border-top: 0;
    line-height: 33px;
}

.flag a {
    display: inline-block;
    text-align: end;
    color: #fefefe;
    width: 100px;
    height: 36px;
}

.flag {
    background: url(../img/flag.png) no-repeat;
    background-position: 22px 7px;
}

.menu .flag {
    padding-left: 30px;
}

main {
    background-image: url("../img/Background.png");
    height: 1028px;
}

.top_menu {
    width: 560px;
    height: 62px;
    background: rgba(0, 0, 0, 0.36);
    color: #fff;
    margin-bottom: 2px;
    text-align: center;
    line-height: 62px;
    font-size: 24px;
}

section {
    width: 560px;
    height: 549px;
    background: rgba(0, 0, 0, 0.36);
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background: url(../img/line.png) no-repeat;
    background-position: center right;
}

.menu .line {
    padding-right: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 386px;
    justify-content: space-around;
}

p {
    color: #999;
}

.ou:before {
    display: inline-block;
    content: "";
    width: 123px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}

.ou:after {
    display: inline-block;
    content: "";
    width: 122px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}

.fb-button {
    width: 275px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#255793, #283F67);
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    border-top: 1px solid #376AA7;
}

.fb-button span {
    display: inline-block;
}

.fb-button-f-part {
    width: 35px;
    float: left;
    font-size: 25px;
    font-weight: 600;
    border-right: 1px solid #003A71;
}

.fb-button-login-part {
    font-weight: 600;
    margin-left: 30px;
    font-size: 15px;
}

input[type=text] {
    height: 35px;
    width: 275px;
    background: rgba(17,17,17,1);
    border: none;
    border-bottom: 1px solid #474747;
}

input[type=password] {
    height: 35px;
    width: 275px;
    background: rgba(17,17,17,1);
    border: none;
    border-bottom: 1px solid #474747;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari selector with prefix*/
    text-indent: 20px;
}

input[type=text]:focus {
    background-color: #005387;
    border-bottom: 1px solid #689bcc;
    box-shadow: inset 1px 1px 22px 3px rgba(30,75,118,0.85), 1px 1px 27px 3px rgba(64,124,167,1);
}

input[type=password]:focus {
    background-color: #005387;
    border-bottom: 1px solid #689bcc;
    box-shadow: inset 1px 1px 22px 3px rgba(30,75,118,0.85), 1px 1px 27px 3px rgba(64,124,167,1);
}

input[type=submit] {
    height: 35px;
    width: 151px;
    background: linear-gradient(to bottom, rgba(80,174,219,1) 0%, rgba(46,122,196,1) 50%, rgba(46,122,196,1) 62%, rgba(46,122,196,1) 78%, rgba(46,122,196,1) 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.link {
    text-align: center;
    text-decoration: none;
}

.link a{
    text-decoration: none;
    color: #999;
}